.home_boton{
    padding-right: 200px;
    margin-left: 100px; 
}

.nav_boton{
    justify-content: center;
    padding-right: 250px;
    margin-left: -10px; 
}

.nav_boton_registrar{
    padding-right: 270px;
    margin-left: -100px; 
}