{% extends 'padre.html' %}

{% block cambiaContenido %}
<div> 
    <h1>Acerca de nosotros</h1>

    <p id="short-description">
        Nuestro hostel es el primero dentro de la comision 54145 de Python orientada al desarrollo web, con la finalidad de poder aprobar el curso 
        y continuar con nuevas practicas dentro de la programacion.
    </p>
    
    <p id="long-description" style="display: none;">
        Cuando aranco este curso me gusto trabajar con Python y Django. Pude aprender mucho sobre cómo construir aplicaciones web y estoy motivado. Mi intención es seguir aprendiendo sobre programación orientada al desarrollo web y profundizar en tecnologías relacionadas.
    </p>
    
    <button id="read-more-btn" onclick="toggleReadMore()">Leer más</button>
</div>  

<script>
    function toggleReadMore() {
        var longDescription = document.getElementById("long-description");
        var readMoreBtn = document.getElementById("read-more-btn");
    
        if (longDescription.style.display === "none") {
            longDescription.style.display = "block";
            readMoreBtn.innerText = "Leer menos";
        } else {
            longDescription.style.display = "none";
            readMoreBtn.innerText = "Leer más";
        }
    }
    </script>

{% endblock cambiaContenido %}


