<nav class="navbar navbar-light bg-light static-top">
    <div class="container">
        <div class="home_boton">

        </div>
        <a class="home_boton" href="{% url "inicio" %}">Inicio</a>
        <a class="nav_boton" href="{% url "cuartoFormulario" %}">Cuartos</a>
        <a class="nav_boton" href="{% url "buscarPuesto" %}">Buscar Empleados</a>
        <a class="nav_boton" href="{% url "empleadoFormulario" %}">Agregar Empleados</a>
        <a class="nav_boton" href="{% url "listaempleado" %}">Lista Empleados</a>
        <a class="nav_boton" href="{% url "clienteFormulario" %}">Clientes</a>
        <a class="nav_boton_registrar" href="{% url "inicio" %}">Registrate!</a>


    </div>
</nav>