<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primer hostel django</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <link rel="stylesheet" href="{% static '/css/mis_estilos.css' %}">
    <script src="menu.js" type="script"></script>
</head>
<body>
    
    <header >
        <div class="logo">Hostel DJANGO</div>
        
        

    </header>
    {% include 'navbar.html' %}
    <main >
        <section  class="hero">
            <h1>Hostel</h1>
            <h2>DJANGO</h2>
            
            
            
        </section>
       
        {% block cambiaContenido %}
    


        {% endblock cambiaContenido %}

        

        
        
        
        
    </main>

    <footer>
        <div class="footer-content">
            
            <p>Hostel django - 2024</p>
        </div>
    </footer>
</body>
</html>
